POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=strong_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=very_strong_django_secret_key
DEBUG=False
ALLOWED_HOSTS=kitygrammm.ddns.net,www.kitygrammm.ddns.net,localhost,127.0.0.1,89.169.184.73
CSRF_TRUSTED_ORIGINS=http://kitygrammm.ddns.net,http://www.kitygrammm.ddns.net
